/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo", sans-serif;
}

body {
  direction: rtl;
  font-family: "cairo", "sans-serif";
}

@font-face {
  font-family: "cairo";
  src: local("cairo"), url("../fonts/cairo/Cairo-VariableFont_wght.ttf") format("truetype");
  
}
